
html {
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: auto;
}

.main {
    margin-top: 30px;
}

.main-container {
    width: 75%;
    max-width: 1200px;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}

.hover-text:hover {
    color: #EE4D2D;
}

.content {
    margin-top: 16px;
    display: flex;
}

.content-left {
    width: 50%;
    padding-right: 16px;
    border-right: 1px solid #E9E9E9;
}

.content-left__item {
    display: flex;
    text-decoration: none;
    padding: 16px 0;
    border-bottom: 1px solid #E9E9E9;
}

.content-left__img {
    width: 40%;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    transition: transform linear 0.1s
}

.content-left__img:hover {
    transform: translateY(-5px);
}

.content-left__title {
    width: 60%;
    padding-left: 16px;
}

.content-name {
    font-size: 18px;
    font-weight: 600;
    color: black;
    line-height: 24px;
}

.content-text {
    margin-top: 8px;
    color: #444444;
    font-size: 14px;
    display: block;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    text-overflow: ellipsis;
    line-height: 20px;
}

.content-poster {
    margin-top: 16px;
}

.poster-img {
    width: 100%;
}

.content-right {
    padding-left: 20px;
    width: 50%;
}

.category-section {
    padding-bottom: 20px;
    border-bottom: 5px solid #E9E9E9;
}

.menu-name__list {
    margin-top: 16px;
    padding-left: 0;
    list-style: none;
    display: flex;
    gap: 32px;
}

.menu-name__link {
    text-decoration: none;
    color: #888;
    display: inline-block;
    transition: transform 0.5s ease
}

.menu-name__link:hover {
    transform: translateX(15px)
}

.content-form {
    margin-top: 16px;
    display: flex;
}

.content-right__item {
    text-decoration: none;
    width: 45%;
    padding-right: 16px;
    border-right: 1px solid #E9E9E9;
}

.content-right__img {
    width: 100%;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    transition: transform linear 0.1s;
}

.content-right__img:hover{
    transform: translateY(-5px);
}

.content-right__name {
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    color: black;
}

.content-right__name:hover {
    color: #EE4D2D;
}

.content-right__text {
    margin-top: 10px;
    font-size: 14px;
    line-height: 20px;
    color: #444444;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 7;
    text-overflow: ellipsis;
}

.item-right {
    width: 55%;
    padding-left: 16px;
}

.content-right__list {
    text-decoration: none;
}

.right-list {
    padding-bottom: 16px;
    border-bottom: 1px solid #E9E9E9;
    display: flex;
    gap: 30px;
}

.right-list img{
    width: 30%;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    transition: transform linear 0.1s;
}

.right-list img:hover {
    transform: translateY(-5px);
}

.content-right__nameshort {
    width: 70%;
    font-size: 14px;
    font-weight: 540;
    line-height: 20px;
    color: black;
}

.separte-right {
    margin-top: 16px;
    border-bottom: 1px solid #E9E9E9;
}

.content-slide {
    margin-top: 30px;
    background-color: #F2F2F2;
}

.content-slide__list {
    display: flex;
}

.content-slide__link {
    text-decoration: none;
    padding: 32px 18px;
    width: 50%;
    display: block;
    overflow-wrap: break-word;
}

.content-slide__img {
    width: 100%;
}

.content-slide__link p {
    color: #015E53;
    padding: 16px 0;
}

.content-slide__link h5 {
    color: black;
    font-size: 14px;
    line-height: 20px;
}

.lable {
    margin-top: 22px;
}


.animation-click {
    display: block;
    transition: transform linear 0.3s;
}

.animation-click:hover {
    transform: translateX(10px);
}

    