
/* --- RESPONSIVE FOR TABLET (< 1024px) --- */

@media (max-width: 1023px) {
    .main-container {
        width: 95%; 
    }

    .content {
        flex-direction: column;
    }

    .content-left {
        width: 100%;
        padding-right: 0;
        border-right: none;
        border-bottom: 2px solid #E9E9E9;
        margin-bottom: 20px;
    }

    .content-right {
        width: 100%;
        padding-left: 0;
    }

    .content-form {
        flex-direction: row; 
    }

    .item-right {
        width: 50%;
    }

    .content-right__item {
        width: 50%;
    }

    .content-slide__list {
        flex-wrap: wrap;
    }

    .content-slide__link {
        width: 50%; 
    }

    .menu-name__list {
        flex-wrap: wrap; 
        gap: 15px;
        margin-bottom: 10px;
    }

    .content-left__img, 
    .content-right__img {
        object-fit: cover;
    }

    .menu-name__link:hover {
        transform: translateX(5px);
    }
}

@media (max-width: 740px) {
    .content-left__item {
        flex-direction: column-reverse;
    }

    .content-left__img,
    .content-left__title {
        width: 100%;
    }

    .content-left__title {
        padding-left: 0;
        padding-bottom: 16px;
    }

    .content-form {
        flex-direction: column; 
    }

    .content-right__item, 
    .item-right {
        width: 100%;
        padding: 0;
        border-right: none;
    }

    .content-right__item {
        margin-bottom: 20px;
        padding-bottom: 15px;
        border-bottom: 1px solid #E9E9E9;
    }

    .right-list img {
        width: 25%; 
    }
}